.big {
    width: 40vmin;
    font-size: 4vmin;
}

.med {
    width: 20vmin;
    font-size: 2vmin;
}
.myfavorite{
  background-image: '../assets/svg/MyFavorite.svg';
}

@keyframes slide {
    0% { transform: translateX(0); }
    /* 100% { transform: translateX(-100%); } */
    100% { transform: translateX(calc(-50% - 20px)); }
    
  }
  .animate-slide {
    animation: slide 10s linear infinite;
    display: flex;
    gap: 1rem;
  }

  .flip{
    transform: rotateY(180deg);
  }